# GoodWe2MQTT Configuration
G2M_LOG_LEVEL=INFO

# MQTT Configuration
G2M_MQTT_BROKER_IP=127.0.0.1
G2M_MQTT_BROKER_PORT=1883
# G2M_MQTT_USERNAME=
# G2M_MQTT_PASSWORD=

# Inverter Configuration (Example for first inverter)
# G2M_GOODWE_INVERTERS_0_IP_ADDRESS=192.168.1.100
# G2M_GOODWE_INVERTERS_0_SERIAL_NUMBER=9010KETXXXXXXXXX
